<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie8"><![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--><html lang="en" class="not-ie"><!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <title>Poke Hackday 2011</title>
        <!-- Styles -->
        <link rel="stylesheet" href="css/reset.css"/>
        <link rel="stylesheet" href="css/styles.css"/>
        <!-- Favicons -->
        <link rel="shortcut icon" href="images/favicon.ico"/>
    </head>
    <body>
       <h1>Hackday</h1>
    </body>
</html>